.counter__container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter_value {
  color: #F6F6F6;

  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
  font-style: normal;
  line-height: 1em;
  font-size: 6em;

  user-select: none;
  cursor: default
}

.button__container {
  margin: 0 0 1em 0;

  display: flex;
  justify-content: space-around;
  gap: .5em;
}

.counter__button {
  width: 5.5em;
  height: 4em;

  padding: .2em;

  border-radius: 2em;
  background: #474747;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.50);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: linear 0.5s;
}

.FP .counter__button,
.DFP .counter__button {
  width: 3.5em;
  height: 3em;

  border-radius: 1.2em;
}

.counter__button:hover {
  text-decoration: none;
  background-color: #2F2F2F;

  cursor: pointer
}

.counter__button:active {
  transform: scale(0.90);
}

.rotate {
  animation: rotateIcon 1s forwards;
  /* Применяем анимацию и оставляем ее состояние после завершения */
}

@keyframes rotateIcon {
  100% {
    transform: rotate(-360deg);
    /* Поворачиваем на 360 градусов */
  }
}

.custom-input {
  appearance: none;
  border: none;
  outline: none;

  width: 3ch;
  height: 1em;

  margin: .1em;
  padding: 0.1em;

  border-radius: 0.2em;

  font-family: "Comfortaa", sans-serif;
  font-size: 1em;
  color: #f6f6f6;

  background-color: #232222;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden; 
}
